.thead-light tr th {
    background: var(--accent-color);
    color: white;
}
.thankU-img{
        width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: #5d3fd32b;
}
.x-mark{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 13px;
    color: lightslategray;
    cursor: pointer;
}